[user]
	name = Iván Barcia
	email = ivan@barcia.dev
	signingkey = 40A5C05AFC3A618A
[core]
	editor = vim
	pager = less
	excludesfile = ~/.config/git/ignore
	filemode = false
[commit]
	template = ~/.config/git/commit
	gpgsign = true
[github]
	user = barcia
[push]
	default = current
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -s
	co = checkout
	br = branch
	up = rebase
	ci = commit
	mt = mergetool
	dt = difftool
[merge]
	tool = vscode
[mergetool "vscode"]
		cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[url "git@github.com:"]
	insteadOf = "github:"
