[user]
	name = Iván Barcia
	email = ivanbarcia@icloud.com
	signingkey = 21D917A63D475AC66F0E3A7340A5C05AFC3A618A
[core]
	editor = vim
	pager = less
[commit]
	template = ~/.gitmessage
	gpgsign = true
[github]
	user = barcia
[push]
	default = current
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -s
	co = checkout
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
